
<h2>Profile</h2>
<h3><%= @user.username %></h3>
<h2>Friends</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <ol>
      Name: <%=h friendship.friend.username%><br />
      Age: <%= Time.now.utc.to_date.year - friendship.friend.dob.year %> years<br />
      <%= image_tag friendship.friend.photo, :size=> "50x50"  %>
      <%= button_to "remove", friendship, :method => :delete %>
    </ol>
  
  <% end %>
</ul>

<p><%= link_to "Find New Friends", users_path %></p>
<b><div class="sidebar"></b>

<%= link_to image_tag("home-icon.png", :size=> "40x30", :title=>"Home"), root_path %><br /><br />
<%= link_to image_tag("email2.png", :size=> "40x30", :title=>"Contact Us"), contactus_path %><br /><br />


<b></div></b>