<% if logged_in? %>
<b><div class="sidebar"></b>
<%= link_to image_tag("home-icon.png", :size=> "40x30", :title=>"Home"), root_path %><br /><br />
<%= link_to image_tag("admin_icon.png", :size=> "50x30", :title=>"Admin Console"), admin_users_path %><br /><br />
<b></div></b>
<% else %>

<b><div class="sidebar"></b>
<%= link_to image_tag("home-icon.png", :size=> "40x30", :title=>"Home"), root_path %><br /><br />
<%= link_to image_tag("admin_icon.png", :size=> "50x30", :title=>"Admin Console"), admin_users_path %><br /><br />
<%= link_to image_tag("login_button.png", :size=> "40x30", :title=>"Log In"), login_path %><br /><br />
<b></div></b>
<% end %>
<b><div class="Text"></b>
<h2 align="center">Contact Us </h2>
Please note that Ninosoft has a long-standing company policy against accepting or reviewing unsolicited submissions of creative materials.  Please do not send us your scripts, story ideas or other creative materials through this website.  We will not be able to consider them. Thanks for your understanding.

General Inquiries<br /><br />

<b>Ninosoft Worldwide</b><br /><br />
Pent House, 304E Boece Court<br /><br />
Old Aberdeen, Aberdeen<br /><br />
Scotland<br /><br />
Phone: 07534115100<br /><br />
Email: deetu02@yahoo.com<br /><br />
<b></div></b>
<b><div class="nav3"></b>

<div style="width:650px;height:350px"><iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Ab24%2B1wu(Office+Location)@57.175382,-2.103665&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe><br><table width="650" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Ab24%2B1wu(Office+Location)@57.175382,-2.103665&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table></div>
<b></div></b>